<p>Hi team,</p>

<p>The below POs have not been cancelled:</p>

<table>
    <tr>
        <th>PO#</th>
        <th>Message</th>
    </tr>
    {{#each errors}}
    <tr>
        <td>{{purchase_order}}</td>
        <td>{{message}}</td>
    </tr>
    {{/each}}
</table>

<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td,
    th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>