<p>Hi team,</p>

<p>Errors have been found and listed below when importing files from SPS Commerce or ERPLY:</p>

<table>
    <tr>
        <th>PO#</th>
        <th>Type</th>
        <th>Reference Number</th>
        <th>File Name</th>
        <th>Message</th>
    </tr>
    {{#each errors}}
    <tr>
        <td>{{purchase_order}}</td>
        <td>{{type}}</td>
        <td>{{reference_number}}</td>
        <td>{{file_name}}</td>
        <td>{{message}}</td>
    </tr>
    {{/each}}
</table>




<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td,
    th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>