<p>Hi team,</p>

<p>Please find below the details around the orders that have been escalated, and need to be actioned:</p>

{{#if has_qty_issues}}
<h5>
    Quantity Changes
</h5>
<table>
    <tr>
        <th style="width:100px">PO#</th>
        <th style="width:200px">PO Ref Number</th>
        <th style="width: 200px">Item</th>
        <th style="width: 300px">Product Name</th>
        <th  style="width: 200px">Type</th>
        <th>Log ID</th>
        <th>Order qty</th>
        <th>Deliverable qty</th>
    </tr>
    {{#each qty_issues}}
    <tr>
        <td style="width:100px">{{erply_po_id}}</td>
        <td style="width:200px">{{tracking_number}}</td>
        <td style="width: 200px">{{style_code}}</td>
        <td style="width: 300px">{{description}}</td>
        <td style="width: 200px">{{type}}</td>
        <td>{{reference_id}}</td>
        <td>{{order_qty}}</td>
        <td>{{delivered_qty}}</td>
    </tr>
    {{/each}}
</table>
{{/if}}

{{#if has_price_issues}}
<h5>
    Price Changes
</h5>
<table>
    <tr>
        <th style="width:100px">PO#</th>
        <th style="width:200px">PO Ref Number</th>
        <th style="width: 200px">Item</th>
        <th style="width: 300px">Product Name</th>
        <th  style="width: 200px">Type</th>
        <th>Log ID</th>
        <th>Order Price</th>
        <th>Deliverable Price</th>
    </tr>
    {{#each price_issues}}
    <tr>
        <td style="width:100px">{{erply_po_id}}</td>
        <td style="width:200px">{{tracking_number}}</td>
        <td style="width: 200px">{{style_code}}</td>
        <td style="width: 300px">{{description}}</td>
        <td style="width: 200px">{{type}}</td>
        <td>{{reference_id}}</td>
        <td>{{unit_price}}</td>
        <td>{{delivered_unit_price}}</td>
    </tr>
    {{/each}}
</table>
{{/if}}


{{#if has_date_issues}}
<h5>
    Date Changes - Date out of the delivery window
</h5>
<table>
    <tr>
        <th style="width:100px">PO#</th>
        <th style="width:200px">PO Ref Number</th>
        <th style="width: 200px">Item</th>
        <th style="width: 300px">Product Name</th>
        <th  style="width: 200px">Type</th>
        <th>Log ID</th>
    </tr>
    {{#each date_issues}}
    <tr>
        <td style="width:100px">{{erply_po_id}}</td>
        <td style="width:200px">{{tracking_number}}</td>
        <td style="width: 200px">{{style_code}}</td>
        <td style="width: 300px">{{description}}</td>
        <td style="width: 200px">{{type}}</td>
        <td>{{reference_id}}</td>
    </tr>
    {{/each}}
</table>
{{/if}}


{{#if has_rejected_issues}}
<h5>
    Fully Rejected
</h5>
<table>
    <tr>
        <th style="width:100px">PO#</th>
        <th style="width:200px">PO Ref Number</th>
        <th style="width: 200px">Item</th>
        <th style="width: 300px">Product Name</th>
        <th style="width: 200px">Type</th>
        <th>Log ID</th>
    </tr>
    {{#each rejected_issues}}
    <tr>
        <td style="width:100px">{{erply_po_id}}</td>
        <td style="width:200px">{{tracking_number}}</td>
        <td style="width: 200px">{{style_code}}</td>
        <td style="width: 300px">{{description}}</td>
        <td style="width: 200px">{{type}}</td>
        <td>{{reference_id}}</td>
    </tr>
    {{/each}}
</table>
{{/if}}

{{#if has_header_issues}}
<h5>
    Invalid Header Data
</h5>
<table>
    <tr>
        <th style="width:100px">PO#</th>
        <th style="width:200px">PO Ref Number</th>
        <th  style="width: 200px">Type</th>
        <th>Log ID</th>
        <th>Party</th>
        <th>PO Sent</th>
        <th>PO Received</th>
    </tr>
    {{#each header_issues}}
    {{#if log_buyer_code}}
    <tr>
        <td style="width:100px">{{erply_po_id}}</td>
        <td style="width:200px">{{tracking_number}}</td>
        <td style="width: 200px">{{type}}</td>
        <td>{{reference_id}}</td>
        <td>Buyer</td>
        <td>{{po_buyer}}</td>
         <td>{{log_buyer_code}}</td>
    </tr>
    {{/if}}
    {{#if log_supplier_code}}
    <tr>
        <td style="width:100px">{{erply_po_id}}</td>
        <td style="width:200px">{{tracking_number}}</td>
        <td style="width: 200px">{{type}}</td>
        <td>{{reference_id}}</td>
        <td>Supplier</td>
        <td>{{po_supplier}}</td>
         <td>{{log_supplier_code}}</td>
    </tr>
    {{/if}}
    {{#if log_ship_to_code}}
    <tr>
        <td style="width:100px">{{erply_po_id}}</td>
        <td style="width:200px">{{tracking_number}}</td>
        <td style="width: 200px">{{type}}</td>
        <td>{{reference_id}}</td>
        <td>Ship To</td>
        <td>{{po_ship_to}}</td>
          <td>{{log_ship_to_code}}</td>
    </tr>
    {{/if}}
    {{/each}}
</table>
{{/if}}

{{#if has_style_issues}}
<h5>
    Added/Missing Style Code
</h5>
<table>
    <tr>
        <th style="width:100px">PO#</th>
        <th style="width:200px">PO Ref Number</th>
        <th  style="width: 200px">Type</th>
        <th>Log ID</th>
        <th style="width: 200px">Item</th>
        <th>GTIN</th>
        <th>Added/Missing</th>
    </tr>
    {{#each style_issues}}
    <tr>
        <td style="width:100px">{{erply_po_id}}</td>
        <td style="width:200px">{{tracking_number}}</td>
        <td style="width: 200px">{{type}}</td>
        <td>{{reference_id}}</td>
        <td style="width: 200px">{{style_code}}</td>
        <td>{{gtin}}</td>
        {{#if fails_unknown_item}}
        <td>Added</td>
        {{/if}}
        {{#if fails_missing_item}}
        <td>Missing</td>
        {{/if}}
    </tr>
    {{/each}}
</table>
{{/if}}



<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td,
    th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>