<p>Hi team,</p>

<p>We've noticed the EDI PO sync has encountered errors. Please check error logs for more details.</p>

<h5>
    System pos sync error logs
</h5>
<table>
    <tr>
        <th style="width: 500px">Error Message</th>
        <th  style="width: 200px">Created At</th>
    </tr>
    {{#each error_logs}}
    <tr>
        <td style="width: 500px">{{error_message}}</td>
        <td style="width: 200px">{{created_at}}</td>
    </tr>
    {{/each}}
</table>